* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Silkscreen';
  }
  
  html,
  body {
    background: #000;
    overflow-x: hidden; /* Hide scrollbars */
  }
  
  /* header */
  a {
    text-decoration: none;
    color:white;
}
  .header-container {
    color: #fff;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    font-size: 40px;
    font-weight: 100;
    padding: 50px;
  }
  
  @media (max-width: 900px) {
    .header {
      font-size: 30px;
    }
  
    .header span {
      left: 20px;
      font-size: 12px;
    }
  }
  
  /* nav */
  
  .nav-container {
    color: #fff;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
  }
  
  .nav-container > * {
    flex: 1 100%;
  }
  
  .nav-top {
    display: flex;
    flex-direction: row;
  }
  
  .nav-top > * {
    flex: 1 100%;
  }
  
  @media (max-width: 900px) {
    .nav-container {
      flex-direction: column;
    }
  
    .nav-top {
      flex-direction: column;
    }
  }
  
  /* card basic styling */
  
  .card-container {
    position: relative;
    width: 25vw;
    height: 30vh;
    transition: all 0.3s ease-out;
    overflow: hidden;
    border-radius: 80px;
    transform: scale(0.98);
  }
  
  .card {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .card-container:hover {
    transform: scale(0.92);
    border-radius: 80px;
    cursor: pointer;
  }
  
  .card-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 50px;
    font-size: 20px;
    z-index: 2;
  }
  
  .preview-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px;
    font-size: 20px;
    font-weight: 400;
  }
  
  .text-wrapper {
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translate(0, -50%);
    font-size: 40px;
    font-weight: 400;
    white-space: nowrap;
    transition: 0.2s ease-out;
    animation: float-text 30s linear infinite;
    animation-delay: 0s;
    opacity: 0;
    padding: 20px 0;
  }
  
  @keyframes float-text {
    0% {
      left: -20%;
    }
  
    50% {
      left: -100%;
    }
  
    100% {
      left: -20%;
    }
  }
  
  .card-container:hover .text-wrapper {
    opacity: 1;
  }
  
  /* custom styling for nav items */
  
  /* services */
  
  .services .card-container {
    background: #0084ff;
    width: 50vw;
    height: 60vh;
  }
  
  .services .text-wrapper {
    font-size: 70px;
    opacity: 1;
  }
  
  .services .card-container:hover .text-wrapper {
    opacity: 0;
  }
  
  .card-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
    font-size: 20px;
    font-weight: 400;
  }
  
  .card-logo {
    position: absolute;
    top: 0;
    right: 0;
    padding: 50px;
    font-size: 40px;
    text-transform: uppercase;
  }
  
  /* shapes container */
  
  .shapes-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shapes {
    width: 35vh;
    height: 35vh;
    animation: round_round 12s linear infinite;
  }
  
  #square {
    position: relative;
    top: 0;
    left: 50%;
    width: 100px;
    height: 100px;
    background: #a5a1ff;
    animation: round_round 12s linear infinite;
    transition: 0.2s;
  }
  
  #circle {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    background: #a5a1ff;
    border-radius: 50%;
    transition: 0.2s;
  }
  
  #triangle {
    position: relative;
    top: -10%;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid #a5a1ff;
    animation: round_round 12s linear infinite;
    transition: 0.2s;
  }
  
  .card-container:hover #square {
    background: rgb(255, 251, 0);
  }
  
  .card-container:hover #circle {
    background: #f8052e;
  }
  
  .card-container:hover #triangle {
    border-bottom: 100px solid #ff9900;
  }
  
  @keyframes round_round {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* work */
  
  .work .card-container {
    background: rgb(255, 217, 0);
  }
  
  .work .preview-text,
  .work .card-icon {
    color: #000;
  }
  
  .work .card-container:hover .preview-text,
  .work .card-container:hover .card-icon {
    transition: 0.2s;
    color: #fff;
  }
  
  .work .card-container:hover .text-wrapper {
    color: #000;
  }
  
  /* about */
  
  .about .card-container {
    background: #9f00fc;
  }
  
  .about .card-container:hover .preview-text,
  .about .card-container:hover .card-icon {
    transition: 0.2s;
    color: #1b1b1f;
  }
  
  /* contact */
  
  .contact .card-container {
    background: #25ff25;
    width: 50vw;
    transform: scale(0.99, 0.93);
  }
  
  .contact .card-container:hover {
    transform: scale(0.96, 0.92);
  }
  
  .contact .preview-text,
  .contact .card-icon {
    color: #000;
  }
  
  .contact .card-container:hover .preview-text,
  .contact .card-container:hover .card-icon {
    transition: 0.2s;
    color: #fff480;
  }
  
  .contact .card-container:hover .text-wrapper {
    color: #000;
  }
  
  /* media queries */
  
  @media (max-width: 900px) {
    .card-container {
      width: 100%;
    }
  
    .contact .card-container {
      width: 100%;
    }
  
    .services .card-container {
      width: 100%;
      height: 30vh;
    }
  
    .services .text-wrapper {
      font-size: 40px;
    }
  
    .services .card-title,
    .services .card-logo {
      display: none;
    }
  
    .shapes-container {
      display: none;
    }
  }
.about_text{
    position: static;
    z-index: 4;
    margin: .1rem;
    box-sizing: border-box;
    border: .2rem;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;}
.about_text p{
    text-shadow: 1px #ffffff;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background: -webkit-linear-gradient(90deg, #3bff3b 0%, #ffd000 51%, #6f00ff 85%);
  -webkit-text-fill-color: transparent;
  }
  .about_text ul{
    font-family: 'Courier New', Courier, monospace;
    color:#ffffff;
    font-weight: 100;
  }
  @-webkit-keyframes about_text {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 @keyframes about_text {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 .about_text p span{
   text-decoration: underline;
   text-decoration-color: blue;
 }
 .about_text {
    -webkit-animation-name: about_text;
    animation-name: about_text;
 }
 .a{
  text-decoration: none;
 }
.g-wrap {
  margin: auto;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #000;}
  
  .g-wrap p{
      position: relative;
      width: 800px;
      font-size: 40px;
      color: transparent;
      margin: auto;
      line-height: 1.5;
      padding: 20px;
      background: linear-gradient(-4deg, transparent, transparent 25%, #ffb6ff, #b344ff,transparent 75%, transparent);
      -webkit-background-clip: text;
      background-size: 100% 400%;
      background-position: center 0;
      animation: textScroll 6s infinite linear alternate;
  }   


@keyframes textScroll {
  100% {
      background-position: center 100%;
  }
}
.button_home{
    position:sticky;
    width: 500px;
    font-size: 40px;
    line-height: 1.5;
    padding: 10px;   
    margin-left: 10rem;
}

#form-div {
  background-color: rgba(72, 72, 72, 0.4);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  float: left;
 margin: 10%;
  position: absolute;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #db3487;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #9e0096 solid 3px;
}


.name {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.name:focus {
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.email {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.email:focus {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

.comment {
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: rgb(176, 216, 0);
}

.button-blue {
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}


@media only screen and (max-width: 580px) {
  .form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
